<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="container container--70">
    <ul sec:authorize="isAuthenticated()" class="nav--actions">
        <li class="logged-user">
            <h4>Witaj <span sec:authentication="name"></span></h4>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <ul th:unless="${session.adminMode}" class="dropdown">
                    <li><a href="#" th:href="@{/user}">Profil</a></li>
                    <li><a href="#" th:href="@{/user/edit}">Ustawienia</a></li>
                    <li><a href="#" th:href="@{/user/donations}">Moje zbiórki</a></li>
                    <li><a href="#" th:href="@{/user/donations/add}">Przekaż dary</a></li>
                    <li><a href="#" th:href="@{/admin}">Tryb administratora</a></li>
                    <li>
                        <form class="logout-form" th:action="@{/logout}" method="post">
                            <input type="submit" value="wyloguj" class="button-link">
                        </form>
                    </li>
                </ul>
                <ul th:if="${session.adminMode}" class="dropdown">
                    <li><a href="#" th:href="@{/admin}">Profil</a></li>
                    <li><a href="#" th:href="@{/user/edit}">Ustawienia</a></li>
                    <li><a href="#" th:href="@{/user}">Tryb użytkownika</a></li>
                    <li>
                        <form class="logout-form" th:action="@{/logout}" method="post">
                            <input type="submit" value="wyloguj" class="button-link">
                        </form>
                    </li>
                </ul>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <ul class="dropdown">
                    <li><a href="#" th:href="@{/user}">Profil</a></li>
                    <li><a href="#" th:href="@{/user/edit}">Ustawienia</a></li>
                    <li><a href="#" th:href="@{/user/donations}">Moje zbiórki</a></li>
                    <li>
                        <form class="logout-form" th:action="@{/logout}" method="post">
                            <input type="submit" value="wyloguj" class="button-link">
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul sec:authorize="isAnonymous()" class="nav--actions">
        <li><a href="" th:href="@{/login}" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="#" th:href="@{/register}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>
    <ul th:unless="${session.adminMode}">
        <li><a href="" th:href="@{/}" class="btn btn--without-border active">Start</a></li>
        <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
        <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
        <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
    <ul th:if="${session.adminMode}">
        <li><a href="" th:href="@{/}" class="btn btn--without-border active">Start</a></li>
        <li><a th:href="@{/admin/institutions}" class="btn btn--without-border">Fundacje i organizacje</a></li>
        <li><a th:href="@{/admin/institutions/create}" class="btn btn--without-border">Dodaj fundację lub organizację</a></li>
        <li><a th:href="@{/admin/users}" class="btn btn--without-border">Użytkownicy</a></li>
        <li><a sec:authorize="hasRole('ROLE_SUPER_ADMIN')" th:href="@{/s_admin/admins}" class="btn btn--without-border">Administratorzy</a></li>
    </ul>
</nav>

<nav th:fragment="navbar-short" class="container container--70">
    <ul sec:authorize="isAuthenticated()" class="nav--actions">
        <li class="logged-user">
            <h4>Witaj <span sec:authentication="name"></span></h4>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <ul th:unless="${session.adminMode}" class="dropdown">
                    <li><a href="#" th:href="@{/user}">Profil</a></li>
                    <li><a href="#" th:href="@{/user/edit}">Ustawienia</a></li>
                    <li><a href="#" th:href="@{/user/donations}">Moje zbiórki</a></li>
                    <li><a href="#" th:href="@{/user/donations/add}">Przekaż dary</a></li>
                    <li><a href="#" th:href="@{/admin}">Tryb administratora</a></li>
                    <li>
                        <form class="logout-form" th:action="@{/logout}" method="post">
                            <input type="submit" value="wyloguj" class="button-link">
                        </form>
                    </li>
                </ul>
                <ul th:if="${session.adminMode}" class="dropdown">
                    <li><a href="#" th:href="@{/admin}">Profil</a></li>
                    <li><a href="#" th:href="@{/user/edit}">Ustawienia</a></li>
                    <li><a href="#" th:href="@{/user}">Tryb użytkownika</a></li>
                    <li>
                        <form class="logout-form" th:action="@{/logout}" method="post">
                            <input type="submit" value="wyloguj" class="button-link">
                        </form>
                    </li>
                </ul>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
                <ul class="dropdown">
                    <li><a href="#" th:href="@{/user}">Profil</a></li>
                    <li><a href="#" th:href="@{/user/edit}">Ustawienia</a></li>
                    <li><a href="#" th:href="@{/user/donations}">Moje zbiórki</a></li>
                    <li>
                        <form class="logout-form" th:action="@{/logout}" method="post">
                            <input type="submit" value="wyloguj" class="button-link">
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul>
        <li><a href="" th:href="@{/}" class="btn btn--without-border active">Start</a></li>
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>

</nav>

<footer th:fragment="footer">
    <div th:unless="${session.adminMode}" id="contact" class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
            <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię"/></div>
            <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko"/></div>
            <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

            <button class="btn" type="submit">Wyślij</button>
        </form>
    </div>
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"><img th:src="@{/img/icon-facebook.svg}"/></a> <a href="#"
                                                                                                class="btn btn--small"><img
                th:src="@{/img/icon-instagram.svg}"/></a>
        </div>
    </div>
</footer>
</body>
</html>